$primary-background-color: lightgray;
$secondary-background-color: dodgerblue;
$tertiary-background-color: slategray;
$footer-background-color: dimgray;
$font-stack: verdana;
$shadow-color: slategray;
$font-size: 1.5em;

@media screen and (max-width: 600px) {
.navBar nav li {
    float: none;
    width: 100%;
  }
header {
  display:none;
    width: 100%;
  }
footer ul .logo{
    float: none;
    width: 100%;
  }
article {
  flex-direction: column;
}
form {
  float: none;
  width: 50%;
}
}
@media screen and (max-width: 1300px) {
  .navBar nav li {
      float: none;
      width: 100%;
    }
   header{
     display:none;
    width: 100%;
  }
  footer ul .logo{
    float: none;
    width: 100%;
  }
  article {
    flex-direction: column;
  }
  form {
    float: none;
    width: 100%;
  }
}

body {
  margin: 10px -20px -10px -10px;
  padding: 10px 0px 10px 50px;
  background-color:$primary-background-color;
  font-family: $font-stack;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  ul {
    list-style-type: none;
    overflow: hidden;
    background-color: $secondary-background-color;
    margin: 10px -300px 10px -400px;
    padding-right: 90px;
}
  li {
    float: left;
    margin: 40px;
}
}

li {
  a {
    display: block;
    color: white;
    font-size: $font-size;
    text-shadow: 1px 1px $shadow-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  a:hover {
    background-color: $tertiary-background-color;
}
}

header{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  font-size: $font-size;
  text-shadow:2.5px 2.5px blue;
  color: black;
}
footer{
    padding-right: 300px;
    padding-left: 200px;
  }

    .logo{
      justify-content: space-around;
      align-items: center;
    	display: flex;
      list-style-type: none;
      overflow: hidden;
      background-color: $footer-background-color;
      margin: 40px -300px 10px -300px;
      padding: 20px 90px 20px 10px;
      }

li img {
  width: 50px;
  height: 50px;
}
article {
  justify-content: space-around;
	align-items:flex-end;
  align-content: flex-end;
	display: flex;
}
.sousTitre {
  text-align:left;
  font-size: $font-size ;
  text-shadow:2.5px 2.5px $tertiary-background-color;
  color: $secondary-background-color;
}
.paragraphe {
  text-align: justify;
   font-size: 1.25em;
   text-shadow:2px 2px blue;
   color: $tertiary-background-color;
   margin-right: 50px;
}

h3{
  font-size: $font-size;
}

section {
	justify-content: space-between;
	align-items: flex-end;
	display: flex;
  padding: 10px;
  background-size: cover;
}

form {
	width: 60%;
	margin: auto;
  padding: 30px;
	border-radius: 15px;
	border: 2px solid $primary-background-color;
  background-color: gainsboro;
	box-shadow: 2px 2px;
}
form.form-example {
    display: table;
}
li.form-contact {
    display: table;
    font-size: 1.2em;
    text-shadow:1px 1px blue;
    color: $tertiary-background-color;
}
label, input {
    display: table;
    font-size: $font-size;
    text-shadow:1px 1px blue;
    color:$tertiary-background-color;
    margin-bottom: 10px;
}
label {
    padding-right: 10px;
}
select {
    font-size: .9rem;
    padding: 2px 5px;
}
#commentaire {
  width: 500px;
  height: 100px;
}
